.Home {
    display: flex;
    flex-direction: column;
}

.animationContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.Home > header {
    display: flex;
    justify-content: space-around;
}

.Home > header img {
    width: 20vw;
    border-radius: 50%;
    padding: 1rem;
}

.Home > header ul {
    display: flex;
    justify-content: space-between;
}

.Home > header li {
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name > h2 {
    color: #3a0ca3;
}

.Home section {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-size: 20px;
    padding: 2rem;
    height: 48vh;
    background-color: rgba(128, 128, 128, 0.066);
}

.animatedText {
    border-right: 2px solid #fb5607;
    font-size: 5rem;
    white-space: nowrap;
    overflow: hidden;
    color: #fb5607;
    animation: blinkCursor 500ms steps(50) infinite normal, typing 10s steps(50) 1s normal both infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: #fb5607;
    }
    to {
        border-right-color:transparent ;
    }
}

@media (max-width: 1150px) {
    .Home > header {
        flex-direction: column;
        height: 40vh;
        width: 80vw;
    }
    .Home section {
        display: block;
        margin-top: 1rem;
        line-height: 15px;
        font-size: 1rem;
        padding: 0.5rem;
        min-height: 50vh;
        width: 100vw;
    }
    .animatedText {
        margin-top: 2rem;
        font-size: 2rem;
        animation: none;
        border-right: none;
    }
    .Home > header img {
        width: 30vw;
        border-radius: 50%;
        padding: 1rem;
    }
}
@media (max-width: 600px) {
    .Home > header {
        flex-direction: column;
        height: 40vh;
        width: 80vw;
    }
    .Home section {
        display: block;
        margin-top: 1rem;
        line-height: 15px;
        font-size: 0.7rem;
        padding: 0.5rem;
        min-height: 50vh;
        width: 100vw;
    }
    .animatedText {
        font-size: 1rem;
        animation: none;
        border-right: none;
    }
    .Home > header img {
        width: 30vw;
        border-radius: 50%;
        padding: 1rem;
    }
}