.Header {
  display: flex;
  padding: 41px 177px;
  width: 100vw;
  justify-content: center;
}

.Logo > img {
  width: 97px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 20px;
}

.NavLink {
  display: flex;
}

.NavLink > ul {
  display: flex;
  list-style: none;
  text-align: center;
  margin-left: 300px;
}

.NavLink > ul > li {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-right: 50px;
  color: #a7a7a7;
}

.Icons > ul {
  display: flex;
  list-style: none;
  text-align: center;
}

.Icons > ul > li {
  flex-shrink: 0;
  color: #a7a7a7;
  margin-right: 20px;
}

.Icons > ul > li > img {
  width: 30px;
  height: 29.26px;
}
